#menuPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index:100;
    top:0px;
    right:0px;
    overflow-y:auto;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 1rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .tileList {
      width: 100%;
      border: 1px solid black;
      display: flex;
      align-items: center;
      align-content: top;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0;
      overflow: auto;
  }

  .tileContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .tile {
      width: 10rem;
      margin: 4.7%;
      height: 10rem;
      border: 1px solid blue;
  }

  .footer{
      display: flex;
      flex-direction: row;
      align-content: center;
  }

  .cardImage{
      width: 100%;
      height: 100%;
  }